/*Google Fonts Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&display=swap');


font-family{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}

.convention-name{
    width: 305px;
    height: 33px;
}

.text-white{
    
}

.stay-color{
    color: #DC143C;
}

.arrangement{
    text-align: justify;
}



.card-footer{
    background-color: white;
    border-top: white;
}

.background-blue{
    background-color: #3F87F5;
}

.paddign-remove{
    padding-right: 0%;
    padding-left: 0%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*footer */

footer{
   
    background-color: #0B0D17;
}

.main-footer{
    justify-content: space-between;
    align-items: center;
}

/* Css media Query */

@media (max-width: 570px){
    .sm-device{
        margin-top: 0px;
        padding: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .sm-device h2{
        font-size: 20px;
    }
}